* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --code-bg: #1f1d2e;
  --code-color: #9ccfd8;
  --base-bg: #faf4ed;
  --plain-text-color: #575279;
  --heading-color: #d7827e;
  --subheading-color: #286983;
  --link-color: #56949f;
  --link-hover-color: #b4637a;
}

html {
  background-color: var(--base-bg);
  color: var(--plain-text-color);
}

h1 {
  color: var(--heading-color);
}

h2 {
  color: var(--subheading-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}

a:hover {
  color: var(--link-hover-color);
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  list-style: none;
  padding: 20px;
}

pre {
  background-color: var(--code-bg);
  color: var(--code-color);
  font-size: min(1.9vw, 16px);
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

/* @media (max-width: 768px) {
  pre {
    font-size: 2vw;
  }
} */
